{{#if resume.achievements.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Achievements</h2>
  </header>
  <section id="volunteer">
    {{#each resume.achievements}}
    <section class="volunteer-item">
      {{.}}
    {{/each}}
  </section>
</section>
{{/if}}
